// Please try to maintain the same code style as outlined here:
// https://github.com/lintelio/lintel/blob/master/CONTRIBUTING.md

// Global
$navbar-padding-y:           $cushion-y-md !default;
$navbar-padding-x:           $cushion-x-md !default;

$navbar-margin-y:            $cushion-y-lg !default;

$navbar-collapsible:         true !default;
$navbar-logo:                true !default;
$navbar-height:              50px !default;

$navbar-collapsed-width:     70px !default;
$navbar-expanded-width:      360px !default;

$navbar-z-index:             $z-index-xl !default;

// List
$navbar-list-padding-y:      ($navbar-height  - ($font-size-base * $line-height-base)) / 2 !default;
$navbar-list-padding-x:      $navbar-padding-x !default;

$navbar-list-height:         50px;

// Base
$navbar-bg:                  $bg-light !default;
$navbar-bg-hover:            darken($navbar-bg, 2.5%) !default;
$navbar-bg-active:           $navbar-bg-hover !default;

$navbar-border:              $border-base !default;
$navbar-text:                $text-base !default;

$navbar-link:                $navbar-text !default;
$navbar-link-hover:          $text-link !default;
$navbar-link-active:         $navbar-link-hover !default;

// Inverse
$navbar-inverse-bg:          $gray-dark !default;
$navbar-inverse-bg-hover:    darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-bg-active:   $navbar-inverse-bg-hover !default;

$navbar-inverse-border:      darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-text:        $text-light !default;

$navbar-inverse-link:        $navbar-inverse-text !default;
$navbar-inverse-link-hover:  $text-lightest !default;
$navbar-inverse-link-active: $navbar-inverse-link-hover !default;
